/*** Global Styles ***/

/* Reset the margin and padding of everything so we can get rid of the white border that the browser gives us by default*/
* {
    margin: 0;
    padding: 0;
}


/*** Variables ***/

// Breakpoints
$break-large: 1700px;
$break-medium: 950px;
$break-small: 510px;



/**** FONTS  (Some fonts are imported directly in the index.html file ***/

/* Import Roboto font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

// Import the modularized Sass partials
@import "partials/layout/layout";
@import "partials/zombie";
@import "partials/logo";

