/*** Global Styles ***/

/* Reset the margin and padding of everything so we can get rid of the white border that the browser gives us by default*/
* {
    margin: 0;
    padding: 0;
}




/*** Variables ***/
$zombieGreen:#accf77;
$nav-color: #CA7D53;
$wood-color: #855E42;
$light-wood-color: #ac7954;
$lemon-color: #edff00;

// Breakpoints
$break-large: 1700px;
$break-medium: 950px;
$break-small: 510px;



/**** FONTS  (Some fonts are imported directly in the index.html file ***/

/* Import Roboto font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

// Import the modularized Sass partials
@import "partials/layout/layout";
@import "partials/zombie";
@import "partials/logo";
@import "partials/nav";
@import "partials/questions.scss";
@import "partials/playing-field";

html {
    background-color: $nav-color;
}

#gameOver {
    text-align: center;
    font-size: 5em;
    display: none;
    color: $zombieGreen;
}
