nav {
    // background-color: #CA7D53;
    color: white;
    text-align: center;
    @include breakpoint(medium) {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.playing-field {
    border: 0px solid;
    max-height: 500px;
}

.player-info {
    margin-right: 50px;
}

.logo {
    margin-left: 50px;
    @include breakpoint(medium) {
        margin-left: 0px;
    }
}

