.options-menu {
    display: none;
    background-color: $wood-color;
    border-radius: 15px;
    color: white;
    flex-direction: column;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -90px;
    padding: 10px;
    margin-bottom: 146px;
    max-width: 500px;
}

.customize-settings-header {
    margin-top: -16px !important;
}

.menu-header {
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
}

.close-settings-button {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}