#questions-header{
    text-align: center;
}

.questions-div {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.input-div {
    display: flex;
    // align-items: center;
    justify-content: center;
    position: absolute;
    left: 889px;
    top: 192px;
}

#question {
    margin-bottom: 50px;
}
button {
    margin-top: 10px;
}

#answer {
    // display: none;
}
