#questions-header{
    text-align: center;
}

.questions-div {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.input-div {
    display: flex;
    align-items: center;
    justify-content: center;
}