#questions-header{
    text-align: center;
}

.questions-div {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.input-div {
    
}

#question {
    margin-bottom: 50px;
}
button {
    margin-top: 10px;
}

#answer {
}

.answer-correct {
    border: 1px solid green;
}

.answer-incorrect {
    border: 1px solid red;
}
