.zombie {
    width: 500px;
    height: 500px;
    // border: 1px solid;
    position: absolute;
}

.walking {
    animation-name: zombie-walk;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}


/*** ANIMATIONS ***/
@keyframes zombie-walk {
    0% { left: 100%}
    100% { left: -20%}
}